[submodule "services/item-service"]
	path = services/item-service
	url = https://github.com/ulrazen/item-service.git
[submodule "services/user-service"]
	path = services/user-service
	url = https://github.com/ulrazen/user-service.git
[submodule "services/core"]
	path = services/core
	url = https://github.com/ulrazen/core.git
